@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.explore-menu-section {
  background-color: white;
}
.menu-section-heading {
  color: #183b56;
  font-family: "Roboto";
  font-size: 28px;
  font-weight: 700;
}
.menu-item-image {
  border-radius: 16px;
}
.menu-card-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
.menu-item-link {
  color: #d0b200;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
}
.menu-item-card {
  border-radius: 16px;
}
.bg-container {
    background-color: white;
}
.caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.main-heading {
    font-size: 35px;
    color: #1f2933;
    font-family: "Roboto";
    font-weight: bold;
}

.im1 {
  background-image: url('speaker.jpg');
  background-size: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.im2{
  background-image: url('VR3.jpg');
}
.im3{
  background-image: url('dslr.jpg');
}
.im3{
  background-image: url('s3.jpg');
}

.card-title {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.card-description {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
}

.card-link {
    color: #1754a1;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}


.vr-logo {
    height: 30px;
    width: 40px;

}

#navItem1 {
    color: #black;
    font-family: "Roboto";
}

#navItem2 {
    color: black;
    font-family: "Roboto";
}

#navItem3 {
    color: black;
    font-family: "Roboto";
}

#navItem4 {
    color: black;
    font-family: "Roboto";
}

.ecommerce-logo {
    height: 50px;
    width: 135px;
}

.bg-container1 {
    background-image: url("1.jpeg");
    height: 100vh;
    background-size: cover;
}

.main-heading1 {
    color: white;
    font-size: 48px;
    font-weight: bold;
}

.custom-button1 {
    height: 40px;
    width: 135px;
    background-color: #1a2137;
    color: white;
    border-width: 0px;
    border-radius: 1px;
}

.delivery-and-payment-section {
    background-color: white;
  }
  .delivery-and-payment-section-img {
    width: 270px;
  }
  .delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
  }
  .payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
  }

  .follow-us-section {
    background-color: white;
  }
  .follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
  }
  .follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
  }
  .icon {
    color: #183b56;
    font-size: 35px;
  }

.contact-us-section {
    background-color: #222b36;
}

.contact-us-section-image {
    width: 100%;
    margin-bottom: 10px;
}

.contact-us-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 40px;
    font-weight: 700;
}

.bg {
    background-color: #19232d;
}


.pic {
    height: 45px;
    width: 80px;
}

.icon1 {
    color: #5a7184;
    font-size: 18px;
}

.text {
    color: white;
}

.heading1 {
    font-size: 20px;
}

.icon-box {
    border-radius: 40px;
    height: 40px;
    width: 40px;
    background-color: black;
    padding: 15px 30px 30px 13px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.hr-line {
    background-color: black;
}

.headingt1 {
  color: white;
  font-size: 38px;
}

.headingt2 {
  color: white;
  font-size: 25px;
}

.bg {
  background-color: #1f2933;

}

.matter {
  color: #9aa5b1;
  font-size: 20px;
}

.pic {
  width: 100px;
  height: 100px;
  border-radius: 45px;
}

.bg2 {
  background-color: #323f4b;
}

.icont {
  color: white;
  font-size: 18px;
}

.bg3 {
  background-color: #1f2933;
  height: 100vh;
}
.footer-section {
  background-color: #1f2933;
}
.footer-section-mail-id {
  color: #959ead;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
}
.footer-section-address {
  color: #959ead;
  font-family: "Roboto";
  font-size: 14px;
}
.heading1 {
  color: #183b56;
  font-family: Roboto;
  font-weight: bold;
  font-size: 32px;
}

.bg {
  background-image: url('smart.jpg');
  background-size: cover;
  border-radius: 12px;
}

.heading2 {
  color: white;
  font-size: 28px;
  font-weight: 530;
  font-family: Roboto;

}

.matter {
  color: white;

}

.utton {
  background-color: white;
  height: 40px;
  width: 120px;
  border-radius: 15px;
  border-style: none;
  color: #ff9f00;
  font-size: 16px;
  font-weight: 500;
}

.bg2 {
  background-image: url('lappy.jpg');
}

.last {
  color: #ff9f00;
}

.products-card-modal-title {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
}

.products-card-modal-description {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 16px;
}

.products-card-modal-list {
  list-style-type: none;
  padding-left: 0;
}

.products-card-modal-list-item {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 16px;
}

.products-card-modal-list-item-category {
  font-weight: bold;
}

.products-section-link {
  color: #ff9f00;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}

